.block-satellite-passage .map {
  height: 500px;
  width: 100%;
  margin: auto;
}
.block-satellite-passage #info {
  height: 1px;
  width: 1px;
  z-index: 100;
}
.block-satellite-passage .popover {
  max-width: unset;
  position: absolute;
  z-index: 1010;
  padding: 7px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background-clip: padding-box;
}
.block-satellite-passage .popover table tr td {
  padding: 2px;
  font-size: 14px;
}
.block-satellite-passage .popover.top.in {
  left:unset !important;
}
.block-satellite-passage .popover.top .arrow{
  display: none;
}

.block-satellite-passage #timeStart-kml,#timeEnd-kml {
  vertical-align: middle; 
  background: #d3d3d3;
  border-radius: 5px; 
}
.block-satellite-passage #timeStart-kml::-moz-range-thumb,
.block-satellite-passage #timeEnd-kml::-moz-range-thumb  {
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #81b6da;
    border-color: #000;
    border-width: 1px;
    cursor: pointer;
}
.block-satellite-passage .date {
    border:unset;
    width: 30em;
 }
.block-satellite-passage .ol-mouse-position {
    font-size: 14px;
    background-color: rgba(0,89,163,0.5);
    border-radius: 4px;
    padding: 2px;
    color: #000;
 }
