.block-satellite-passage .map {
  height: 500px;
  width: 100%;
  margin: auto;
}
.block-satellite-passage #info {
  height: 1px;
  width: 1px;
  z-index: 100;
  left: 200px;
  top: 100px;
}
.block-satellite-passage .popover {
  max-width: unset;
  left: 200px;
  top: 100px;
}
.block-satellite-passage .popover table tr td {
  padding: 0 2px 0 2px;
}
.block-satellite-passage .popover.top {
  left:10px;
}
.block-satellite-passage .popover.top .arrow{
  display: none;
}

.block-satellite-passage #timeStart-kml,#timeEnd-kml {
  vertical-align: middle; 
  background: #d3d3d3;
  border-radius: 5px; 
}
.block-satellite-passage #timeStart-kml::-moz-range-thumb,
.block-satellite-passage #timeEnd-kml::-moz-range-thumb  {
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #81b6da;
    border-color: #000;
    border-width: 1px;
    cursor: pointer;
}
.block-satellite-passage .controls {
    text-align: center;
 }
.block-satellite-passage .date {
    border:unset;
    width: 300px;
 }
.block-satellite-passage .ol-mouse-position {
    font-size: 14px;
    background-color: rgba(0,89,163,0.5);
    border-radius: 4px;
    padding: 2px;
    color: #000;
 }
